@media screen and (max-width: 640px) {

    .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .aside-top {
        display: none;
    }

    .header-side {
        display: none;
    }

    .mobile-header {
        display: block;
        .container {

        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        .link {

            display: flex;
            gap: 8px;
            align-items: center;
            color: var(--colorMineShaft);


        .mbl-header-link {
            width: fit-content;
            display: flex;
            align-items: center;
            
        }
        .logo-text {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
        }
    }

        .btn {
            i {
                font-size: 30px;
            }
        }
    }
    }

    .catch-sections {
        .container {
            .main-top {
                .container {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    .left {
                        width: 100%;

                        .main-top.title {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 2px;
                        }

                        .text-lg {
                            font-weight: 600;
                            font-size: 40px;
                            line-height: 47px;
                        }

                        .text-sm {
                            width: 333px;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 22px;
                        }

                        .left-bottom {

                            .left-side-buttons {
                                left: 0;
                                right: 0;
                            }

                            .photo {
                                width: 100%;
                            }
                        }
                    }

                    .right {
                        width: 100%;
                        margin-top: 40px;
                    }
                }
            }

            .customers-count {
                .container {
                    display: flex;
                    flex-direction: column;

                    .left {
                        width: 100%;
                    }

                    .right {
                        width: 100%;
                    }
                }
            }
        }
    }

    .compamy-logos {
        .container {
            .title {
                .title-text {
                    width: 280px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 2px;
                }
            }

            .photo {
                width: 100%;
                overflow-x: auto;
            }
        }
    }

    .who-we-are {
        .container {
            display: flex;
            flex-direction: column;

            gap: 110px;

            .left {
                width: 100%;

                .title-text {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 2px;
                }

                .text-lg {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 42px;
                }

                .text-sm {
                    width: 333px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                }

                .cards {
                    .card {
                        width: 100%;

                        .left {
                            font-size: 34px;
                        }

                        .right {
                            align-items: flex-start;
                            gap: 10px;

                            .right-side-title {
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                            }

                            .right-side-text {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }

            .right {
                justify-content: center;
                width: 100%;

                .left-side {

                    .photo {
                        width: 170px;
                        height: 260px;
                    }
                }

                .right-side {

                    .photo {
                        width: 143px;
                        height: 141px;
                        margin-top: -60px;
                    }

                    .photo-sm {
                        width: 143px;
                        height: 100px;
                    }
                }
            }
        }
    }

    .rent-house-section {
        margin-top: 100px;

        .container {
            .rent-house-title {
                flex-direction: column;
                gap: 40px;
                align-items: center;

                .left {
                    .left-side-title {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 2px;
                    }

                    .text-lg {
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 42px;
                    }

                    .text-sm {
                        width: 333px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }

            .rent-house-body {
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .item {
                    .item-top {
                        .photo {
                            width: 333px;
                            height: 220px;
                        }
                    }

                    .category {
                        .category-popular {
                            i {
                                font-size: 14px;
                            }

                            .category-name {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                    }

                    .item-body {
                        .price {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                        }

                        .name {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                        }

                        .address {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                        }

                        .house-details {
                            .room-count {
                                i {
                                    font-size: 22px;
                                }

                                .text {
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 22px;
                                }
                            }
                        }


                    }
                }

                .btn {
                    display: block;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    .services {
        .container {
            .services-title {
                .title {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 2px;
                }

                .text-lg {
                    width: 304px;
                    text-align: center;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 42px;
                }

            }

            .services-body {
                flex-direction: column;

                .card {
                    padding: 40px;

                    .catch-icon {
                        i {
                            font-size: 26px;
                        }
                    }

                    .sercices-icon-bck {
                        width: 60px;
                        height: 60px;
                    }

                    .card-title {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .card-text {
                        width: 250px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .properties {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .properties-title {
                gap: 10px;

                .title {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 2px;
                }

                .text-lg {
                    width: 319px;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 42px;
                }

                .design {
                    left: 0;
                }
            }

            .properties-body {
                display: flex;
                justify-content: center;
                gap: 23px;
                width: 100%;

                .properties-items {

                    .photo {
                        width: 155px;
                        height: 155px;
                    }

                    .photo-2 {
                        width: 155px;
                        height: 155px;
                    }

                    .photo-3 {
                        width: 155px;
                        height: 155px;
                    }

                    .photo-4 {
                        width: 155px;
                        height: 155px;
                    }

                    .properties-card {
                        left: 15px;
                        bottom: 15px;

                        .properties-card-count {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 42px;
                        }

                        .properties-card-adress {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }

    .team-side {
        margin-top: 100px;

        .container {
            .title {
                .team-side-title {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 2px;
                }

                .text-lg {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 42px;
                }
            }

            .team-side-body {

                grid-template-columns: repeat(2, 1fr);
                gap: 50px;

                .item {
                    .photo {
                        width: 120px;
                        height: 168px;
                    }

                    .name {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .position {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .trending {
        .container {
            .trending-title {
                .title {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 2px;
                }

                .text-lg {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 42px;
                }
            }

            .trending-body {
                grid-template-columns: repeat(1, 1fr);

                .item {
                    .item-text-lg {
                        width: 333px;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                    }

                    .item-text-sm {
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 22px;
                    }

                    .button {
                        display: none;
                    }
                }
            }

            .slider-dots {
                display: none;
            }

            .btn {
                margin-top: 60px;
                display: block;
            }
        }
    }

    .testimonials {
        padding: 100px 20px;

        .container {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;

            .left {
                .title {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 2px;
                }

                .text-lg {
                    width: 333px;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 42px;
                }

                .text-sm {
                    width: 333px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                }

                .button {
                    display: none;
                }
            }

            .right {
                display: flex;
                flex-direction: column;

                .card {
                    width: 100%;
                    padding-top: 30px;
                    padding-bottom: 30px;

                    .card-top {

                        .card-text {
                            width: 273px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                        }

                        .design {
                            display: none;
                        }
                    }

                    .card-bottom {
                        .profile-details {
                            flex-direction: column;
                            gap: 10px;
                        }
                    }
                }

                .slider-dots {

                    flex-direction: row;

                    li {
                        span {
                            width: 32px;
                            height: 5px;
                        }
                    }

                }
            }
        }
    }

    .become-agent-side {
        .container {
            .become-agent {
                padding-top: 100px;
                gap: 70px;
                flex-direction: column-reverse;

                .photo {
                    width: 270px;
                    height: 262px;
                }

                .become-agent-right-side {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 30px;

                    .text-side {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .text-lg {
                            font-weight: 600;
                            font-size: 28px;
                            line-height: 42px;
                        }

                        .text-sm {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }

                .design {
                    width: 200px;
                    height: 200px;
                    right: 0;
                    top: -40px;
                }

                .design-2 {
                    left: 90px;
                    top: 430px;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    footer {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .company-details {
                align-items: center;
                .top {
                    .logo {
                        width: 50px;
                        height: 50px;

                        i {
                            font-size: 24px;
                        }
                    }
                }

                .phone-side {
                    .phone {
                        color: var(--colorGray);
                    }

                    i {
                        color: var(--colorGray);
                    }
                }

                .email-side {
                    .email {
                        color: var(--colorGray);
                    }

                    i {
                        color: var(--colorGray);
                    }
                }

            }

            .footer-links {
                display: none;
            }

            .subscribe {
                margin-top: 30px;
                align-items: center;
                .title {
                   
                    width: 218px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }

                .icons {
                    gap: 40px;
                }
            }
        }
    }

.aside-bottom {
    .container-aside-bottom {
        width: 100%;
        justify-content: center;

        .links {
            display: none;
        }
    }
}
}